/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";

.grid-item {
  width: 32%;
  padding: 5px;
  //float: left;
}

.card-content {
  background-color: white;

  a:hover {
    background-color: white;
  }
}

.card-action {
  a.btn-floating {
    margin-right: 1em;
  }

  a.delete {
    .material-icons {
      background-color: #ef5350;
    }
  }
}

#nav-mobile a {
  color: white
}
